body{
 background-color: #EAEAEA;
 position: relative;
}
.wrapper::before {
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 35%;
  border-left: 5px dotted #000000;
  transform: translate(-50%);
}

.wrapper {
  margin: 10px auto;
  width: 60%;
}
.center{
  margin: auto;
  width: 60%;
  position:relative;
  z-index: 10;
}
.wrapperWithContent{
 

}
.pointer{
  cursor: pointer;
}
.parent{
  font-size: x-large;
  margin: 30px;
  height: auto;
  background-color: rgb(238, 238, 255);
  border: 2px solid black;
  border-radius: 5px;

}
.childrenNodes{
  /* color: red; */
  /* content:" "; */
  position: center;
  /* z-index: -1;
  top: 0;
  bottom: 0; */
  left: 35%;
  border-left: 5px dotted #000000;
  /* transform: rotate(90deg); */
}

/* .wrapper{
  border-left: 5px dotted black;
} */

